@import '_variables.scss';

:root{
    font-size: 17px;
}

*{
    font-family: 'Inter', sans-serif;
    letter-spacing: -5%;
    text-align: left;
    margin: 0;
}

span{
    opacity: 0.5;
}

body{
    margin: 0;
}



header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 1rem; 

    h1{
        font-size: 1.5rem;
        font-weight: 900;
    
    }

    form{
        display: flex;
        gap: 1rem;
    
        input{
            border: none;
            border-radius: 2rem;
            padding: .6rem 1.2rem;
        }
    
        button{
            background-color: $primary;
            color: $light;
            border: none;
            border-radius: 2rem;
            padding: .6rem 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s;
            &:hover{
                background-color: darken($primary, 10%);
            }
        }
    }
}

#results{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    #contentCard{
        background-color: $light;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;
        justify-content: space-between;
        align-items: start;
        max-width: fit-content;
        max-height: fit-content;
        border-radius: 1rem;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover{
            box-shadow: 5px 6px 1rem rgba(0, 0, 0, 0.1);
            transform: translateX(-0.5rem) translateY(-0.5rem);
        }

        #amazonRating{
            display: flex;
            flex-direction: column;
        }
    }

        .bookimg{

            border-radius: 1rem;
        }
    }

@media screen and (max-width: 768px){
    header{
        padding: 1rem 2rem;
    }

    #results{
        justify-content:start;
    }
}